#include "roBa.dtsi"

&kscan0 {
        // 左半分の列 GPIO。
        col-gpios
            = <&xiao_d 10 GPIO_ACTIVE_HIGH>
            , <&xiao_d 9 GPIO_ACTIVE_HIGH> 
            , <&xiao_d 8 GPIO_ACTIVE_HIGH> 
            , <&xiao_d 7 GPIO_ACTIVE_HIGH> 
            , <&gpio0 10 GPIO_ACTIVE_HIGH>
            , <&gpio0 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // エンコーダ押し込み用にプルダウン追加
            ;
};

&left_encoder {
    // 左半分の物理エンコーダを有効化。
    status = "okay";
};
